/* Material Design Dark Theme for Syntax Highlighting */
/* Inspired by Material Theme Darker */

.highlight .hll {
  background-color: #2c3b41;
}
.highlight {
  background: #263238;
  color: #eeffff;
}
.highlight .c {
  color: #546e7a;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #ff5370;
  background-color: transparent;
} /* Error */
.highlight .k {
  color: #bb80b3;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #89ddff;
} /* Operator */
.highlight .cm {
  color: #546e7a;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #546e7a;
  font-weight: bold;
} /* Comment.Preproc */
.highlight .c1 {
  color: #546e7a;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #546e7a;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #ff5370;
  background-color: transparent;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #ff5370;
} /* Generic.Error */
.highlight .gh {
  color: #80cbc4;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #c3e88d;
  background-color: transparent;
} /* Generic.Inserted */
.highlight .go {
  color: #607d8b;
} /* Generic.Output */
.highlight .gp {
  color: #80cbc4;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #89ddff;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #ff5370;
} /* Generic.Traceback */
.highlight .kc {
  color: #bb80b3;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #bb80b3;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #bb80b3;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #bb80b3;
  font-weight: bold;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #bb80b3;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #ffcb6b;
  font-weight: bold;
} /* Keyword.Type */
.highlight .m {
  color: #f78c6c;
} /* Literal.Number */
.highlight .s {
  color: #c3e88d;
} /* Literal.String */
.highlight .na {
  color: #82aaff;
} /* Name.Attribute */
.highlight .nb {
  color: #82aaff;
} /* Name.Builtin */
.highlight .nc {
  color: #ffcb6b;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #f78c6c;
} /* Name.Constant */
.highlight .nd {
  color: #bb80b3;
} /* Name.Decorator */
.highlight .ni {
  color: #eeffff;
  font-weight: bold;
} /* Name.Entity */
.highlight .ne {
  color: #ff5370;
  font-weight: bold;
} /* Name.Exception */
.highlight .nf {
  color: #82aaff;
} /* Name.Function */
.highlight .nl {
  color: #c3e88d;
} /* Name.Label */
.highlight .nn {
  color: #ffcb6b;
  font-weight: bold;
} /* Name.Namespace */
.highlight .nt {
  color: #f07178;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #89ddff;
} /* Name.Variable */
.highlight .ow {
  color: #bb80b3;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #546e7a;
} /* Text.Whitespace */
.highlight .mf {
  color: #f78c6c;
} /* Literal.Number.Float */
.highlight .mh {
  color: #f78c6c;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #f78c6c;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #f78c6c;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #c3e88d;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #c3e88d;
} /* Literal.String.Char */
.highlight .sd {
  color: #546e7a;
  font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #c3e88d;
} /* Literal.String.Double */
.highlight .se {
  color: #ffcb6b;
  font-weight: bold;
} /* Literal.String.Escape */
.highlight .sh {
  color: #c3e88d;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #f78c6c;
  font-weight: bold;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #c3e88d;
} /* Literal.String.Other */
.highlight .sr {
  color: #89ddff;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #c3e88d;
} /* Literal.String.Single */
.highlight .ss {
  color: #f78c6c;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #82aaff;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #89ddff;
} /* Name.Variable.Class */
.highlight .vg {
  color: #89ddff;
} /* Name.Variable.Global */
.highlight .vi {
  color: #89ddff;
} /* Name.Variable.Instance */
.highlight .il {
  color: #f78c6c;
} /* Literal.Number.Integer.Long */
