/* Material Design Light Theme for Syntax Highlighting */
/* Inspired by Material Theme Light */

.highlight .hll {
  background-color: #e7f2fa;
}
.highlight {
  background: #fafafa;
  color: #546e7a;
}
.highlight .c {
  color: #90a4ae;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #ff5370;
  background-color: transparent;
} /* Error */
.highlight .k {
  color: #7c4dff;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #39adb5;
} /* Operator */
.highlight .cm {
  color: #90a4ae;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #90a4ae;
  font-weight: bold;
} /* Comment.Preproc */
.highlight .c1 {
  color: #90a4ae;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #90a4ae;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffcdd2;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #f44336;
} /* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #c8e6c9;
} /* Generic.Inserted */
.highlight .go {
  color: #888888;
} /* Generic.Output */
.highlight .gp {
  color: #000080;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #f44336;
} /* Generic.Traceback */
.highlight .kc {
  color: #7c4dff;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #7c4dff;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #7c4dff;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #7c4dff;
  font-weight: bold;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #7c4dff;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #ffcb6b;
  font-weight: bold;
} /* Keyword.Type */
.highlight .m {
  color: #f76d47;
} /* Literal.Number */
.highlight .s {
  color: #91b859;
} /* Literal.String */
.highlight .na {
  color: #6182b8;
} /* Name.Attribute */
.highlight .nb {
  color: #39adb5;
} /* Name.Builtin */
.highlight .nc {
  color: #ffcb6b;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #008080;
} /* Name.Constant */
.highlight .nd {
  color: #aa22ff;
} /* Name.Decorator */
.highlight .ni {
  color: #999999;
  font-weight: bold;
} /* Name.Entity */
.highlight .ne {
  color: #ff5370;
  font-weight: bold;
} /* Name.Exception */
.highlight .nf {
  color: #6182b8;
} /* Name.Function */
.highlight .nl {
  color: #a0a000;
} /* Name.Label */
.highlight .nn {
  color: #ffcb6b;
  font-weight: bold;
} /* Name.Namespace */
.highlight .nt {
  color: #f07178;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #39adb5;
} /* Name.Variable */
.highlight .ow {
  color: #aa22ff;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mf {
  color: #f76d47;
} /* Literal.Number.Float */
.highlight .mh {
  color: #f76d47;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #f76d47;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #f76d47;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #91b859;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #91b859;
} /* Literal.String.Char */
.highlight .sd {
  color: #91b859;
  font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #91b859;
} /* Literal.String.Double */
.highlight .se {
  color: #ffcb6b;
  font-weight: bold;
} /* Literal.String.Escape */
.highlight .sh {
  color: #91b859;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #bb8009;
  font-weight: bold;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #91b859;
} /* Literal.String.Other */
.highlight .sr {
  color: #ff6188;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #91b859;
} /* Literal.String.Single */
.highlight .ss {
  color: #ffcb6b;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #39adb5;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #39adb5;
} /* Name.Variable.Class */
.highlight .vg {
  color: #39adb5;
} /* Name.Variable.Global */
.highlight .vi {
  color: #39adb5;
} /* Name.Variable.Instance */
.highlight .il {
  color: #f76d47;
} /* Literal.Number.Integer.Long */
